.food-display h2 {
    font-size: 20px;
    font-weight: 600;
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
    margin-top: 3-px;
    gap: 30px;
    row-gap: 50px;
}

.no-items-message {
    grid-column: 1 / -1; /* Ensures the message spans across the grid */
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: #555;
    margin-top: 20px;
}

.food-item-skeleton {
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    margin-bottom: 20px;
    transition: 0.3s;
    padding: 10px;
    animation: fadeIn 0.8s;
}

.food-item-image-skeleton {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.add-btn-skeleton {
    position: absolute;
    bottom: 15px;
    right: 15px;
    border-radius: 20px;
}

.food-item-info .skeleton {
    margin: 10px 0;
}
