/* Header container */
.header {
    width: 100%;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    position: relative;
}

/* Add a styled border to the slideshow container */
.slideshow-container {
    position: relative;
    width: 80%;
    overflow: hidden;
    height: 80%;
    /* Adjust height as needed */
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    from {
        border-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    }

    to {
        border-color: tomato;
        box-shadow: 0px 0px 20px tomato;
    }
}

/* Sliding container */
.sliding-container {
    display: flex;
    transition: transform 0.6s ease-in-out;
    width: 100%;
}

/* Individual slides */
.sliding-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

/* Navigation arrows */
.slideshow-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 10;
    opacity: 0; /* Hide by default */
    transition: opacity 0.3s ease-in-out;
}

.slideshow-container:hover .slideshow-nav {
    opacity: 1; /* Show on hover */
}

.slideshow-nav button {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 2rem;
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideshow-nav button:hover {
    background: rgba(0, 0, 0, 0.7);
}

/* Dots for Navigation */
.slideshow-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: white;
}

.dot:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

/* Responsive design */
@media (max-width: 768px) {
    .slideshow-container {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 100%;
        border: 5px solid rgba(255, 255, 255, 0.5);
        border-radius: 15px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        animation: glow 2s infinite alternate;
    }

    .slideshow-nav button {
        font-size: 1.5rem;
        width: 40px;
        height: 40px;
    }

    .dot {
        width: 10px;
        height: 10px;
    }
}
